<nav>
    <div class="nav-wrapper">
      <a routerLink="/inicio" class="brand-logo">Gestor Empresa y Empleados</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li *ngIf="iniciarSesion"><a routerLink="/administracion/listar-personas">Personas</a></li>
        <li *ngIf="iniciarSesion"><a routerLink="/seguridad/cambioclave">Cambiar Clave</a></li>
        <li *ngIf="iniciarSesion"><a routerLink="/seguridad/cerrarsesion">Cerrar Sesion</a></li>
        <li *ngIf="!iniciarSesion"><a routerLink="/seguridad/identificar">Login</a></li>
        
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li *ngIf="iniciarSesion"><a routerLink="/administracion/listar-personas">Personas</a></li>
    <li *ngIf="iniciarSesion"><a routerLink="/seguridad/cambioclave">Cambiar Clave</a></li>
    <li *ngIf="iniciarSesion"><a routerLink="/seguridad/cerrarsesion">Cerrar Sesion</a></li>
    <li *ngIf="!iniciarSesion"><a routerLink="/seguridad/identificar">Login</a></li>
  </ul>