<div class="container">
    <div class="row">
        <div class="col s12 14 offset-14">
          <div class="card grey lighten-3">
            <div class="card-content">
              <h4 class="card-title center-align">Login de Usuarios</h4>
              <form [formGroup]="fgValidador" method="post" (ngSubmit)="IdentificarUsuario()">
                <div class="row">
                  <div class="input-field col s12">
                    <i class="material-icons prefix">email</i>
                    <input formControlName='usuario' type="email" id="email" class="validate" />
                    <label for="email">Usuario</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <i class="material-icons prefix">vpn_key</i>
                    <input formControlName='clave' type="password" id="password" class="validate" />
                    <label for="email">Contraseña</label>
                  </div>
                </div>
                <div class="row center-align">
                  <button [disabled]="!fgValidador.valid" name="btn_login" type="submit" class="btn waves-effect waves-light" name="action"
                  >
                    Iniciar Sesion
                    <i class="material-icons right">send</i>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />
    <br />